.titlebar {
    height: 25px;
    width: 100%;
    margin: 4px 0px;
    padding: 0px 8px;
    background-color: #E9E8FD;
    /* background-color: #DDDDDD; */

    display: flex;
    justify-content: space-between;
}

.window-controls {
    display: flex;
    gap: 20px;
}

.tab-controls {
    display: flex;
    gap: 20px;
}

.titlebar button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
    color: #777777;
}

.titlebar button:hover {
    background-color: #aaaaaa33;
    cursor: pointer;
}