.pane {
    height: 100%;

    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newTabButton {
    padding: 10px 10px;
    border-radius: 5px;

    color: #666;

    &:hover {
        background-color: rgba(100, 100, 100, 0.1);
        cursor: pointer;
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
    overflow-y: auto;
}

.version {
    margin-top: auto;
    padding: 8px 10px;
    font-size: 11px;
    color: #999;
    text-align: center;
}