.new-tab-button {
    margin: 10px;
    padding: 10px 10px;
    background-color: transparent;
    border-radius: 5px;

    color: #666;
}

.new-tab-button:hover {
    background-color: rgba(100, 100, 100, 0.1);
    cursor: pointer;
}