.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.input {
    font-size: 1.2rem;
    padding: 10px;
    outline: none;
    width: 70%;
    height: 3em;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background: #edededff;
}