.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px;
    padding: 5px 8px;
    border-radius: 5px;
}

.active {
    background-color: white;
}

.tab:hover:not(.active) {
    background-color: rgba(150, 150, 150, 0.1);
    cursor: pointer;
}

.tab-info {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: '...';
}

.favicon {
    min-width: 16px;
    min-height: 16px;
    border-radius: 5px;
    background-color: rgb(172, 204, 176);
}

.close {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    visibility: hidden;
}

.tab:hover .close {
    visibility: visible;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}