.tabControls {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;

    padding: 10px;

    color: grey;
}

.button {
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 5px;

    &.active {
        color: black;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }
}