* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body,
#root {
  height: 100vh;
  overscroll-behavior: none;
}

.app {
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: #E9E8FD;
}

.sidebar {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  margin: 8px 0;

  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 8px;

  overflow: auto;
}

.browser-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  gap: 10px;
  flex: 1;
  height: 100%;
}

.browser-item {
  overflow: hidden;
  background-color: white;
  border-radius: 5px;

  height: 400px;
}