* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body,
#root {
  height: 100vh;
  overscroll-behavior: none;
}

.app {
  height: 100%;
  display: flex;

  background-color: #E9E8FD;
}

.sidebar {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  margin: 8px 0;

  display: flex;
  flex-direction: column;
}

.new-tab-button {
    margin: 10px;
    padding: 10px 10px;
    background-color: transparent;
    border-radius: 5px;

    color: #666;
}

.new-tab-button:hover {
    background-color: rgba(100, 100, 100, 0.1);
    cursor: pointer;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 8px;

  overflow: auto;
}

.browser {
  width: 100%;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;

  /* outline: 1px solid rgba(0, 0, 255, 0.3);
  outline-offset: 2px; */

  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(0, 0, 0, 0.08),
    0 0 0 3px rgba(0, 0, 0, 0.06),
    0 0 0 4px rgba(0, 0, 0, 0.04); */
}